<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600332591577-rhsh013gv3tjcrag23i4q867pv92kmu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600332591577-rhsh013gv3tjcrag23i4q867pv92kmu9</string>
	<key>API_KEY</key>
	<string>AIzaSyB6LYLYng9CO56ELTkTBEBOu-H9fI_n-KU</string>
	<key>GCM_SENDER_ID</key>
	<string>600332591577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daeun28.Mongli</string>
	<key>PROJECT_ID</key>
	<string>mongli-whiledreaming</string>
	<key>STORAGE_BUCKET</key>
	<string>mongli-whiledreaming.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600332591577:ios:77da20bf6425e37b7239c8</string>
	<key>DATABASE_URL</key>
	<string>https://mongli-whiledreaming.firebaseio.com</string>
</dict>
</plist>